@model IEnumerable<IReturnNodePointerProject.Models.Product>
@{
	ViewData["Title"] = "MediaStore";

}
@{
	Layout = "_Layout";
}


<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title>Store Page</title>
	</head>
	<body>
		<Title> @ViewData["Title"] - Media Store</Title>
		<h2>Media Listing</h2>
		<br />
		<br />
	<!-- ALot of the stuff in here was modified from the tutorial in the doccumentation here: https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-7.0&tabs=visual-studio-->
		<table>
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Author)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Published)
					</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@item.Author
					</td>
					<td>
						@IReturnNodePointerProject.Controllers.HomeController.ConvertToYear(item.Published)
					</td>
				</tr>
			}
			</tbody>
		</table>
	</body>
</html>
