@model ListViewModel
@{
	ViewData["Title"] = "MediaStore";
}
@{
	Layout = "_Layout";
}


<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title> @ViewData["Title"] - Media Store</title>
	</head>
	<body>
		<style type="text/css">
			td {
				padding: 0 15px;
			}
		</style>
		<h2>Media Listing</h2>
		<hr>
		<!--using this https://stackoverflow.com/questions/36743743/how-to-show-selected-value-in-dropdownlist-of-mvc-->
		<div class="dropdown" id="prodType" style="float: inherit;">
			@using (Html.BeginForm("Index", "", FormMethod.Get))
			{
				@Html.DropDownList("Product", new SelectList(Model.genres, "Name", "Name", ViewBag.GenSortParam), "--Product --", new { @class = "form-control", @style = ""})
			<p></p>
			@if (Model.bookGen != null)
			{
				@Html.DropDownList("Genre", new SelectList(Model.bookGen, "Name", "Name", ViewBag.GenSortParam), "--Genre--", new { @class = "form-control" })
			}
			@if(Model.movieGen != null)
			{
				@Html.DropDownList("Genre", new SelectList(Model.movieGen, "Name", "Name", ViewBag.GenSortParam), "--Genre--", new { @class = "form-control" })
			}
			@if(Model.gameGen != null)
			{
				@Html.DropDownList("Genre", new SelectList(Model.gameGen, "Name", "Name", ViewBag.GenSortParam), "--Genre--", new { @class = "form-control" })
			}
			<p> </p>
				<input type="submit" value="search"/>
			} 
		</div>
		<hr>
		<!-- ALot of the stuff in here was modified from the tutorial in the doccumentation here: https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-7.0&tabs=visual-studio-->
		@{
			await Html.RenderPartialAsync("_itemIndex");
		}
	</body>
</html>
