@model ListViewModel
@{
	ViewData["Title"] = "MediaStore";

}
@{
	Layout = "_Layout";
}


<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title>Store Page</title>
	</head>
	<body>
		<Title> @ViewData["Title"] - Media Store</Title>
		<h2>Media Listing</h2>
		<br />
		<label>filtering controlls</label>
		<select>
			@foreach (var genre in Model.genres)
		{
			<option value=@genre.genreID>@genre.Name</option>
		}
		</select>
		<!--using this https://stackoverflow.com/questions/36743743/how-to-show-selected-value-in-dropdownlist-of-mvc-->
		<div class="dropdown" ">
			@Html.DropDownList("Product Type", new SelectList(Model.genres, "genreID", "Name", ViewBag.pickType), new { @class = "form-control" });
		</div>

		<br />
		<!-- ALot of the stuff in here was modified from the tutorial in the doccumentation here: https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-7.0&tabs=visual-studio-->
		<table>
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Author
					</th>
					<th>
						Year Relesed
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Products)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@item.Author
					</td>
					<td>
						@IReturnNodePointerProject.Controllers.HomeController.ConvertToYear(item.Published)
					</td>
				</tr>
			}
			</tbody>
		</table>
	</body>
</html>
