@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
	bool loggedIn = string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserID"));
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdm.jsdelivr.net/npm/bootstrap-icons@Int16.5.0/font/bootstrap-icons.css" />
    <!--Scripts go here, when the typescript is compiled, it is converted to JS, this is what we are looking for-->
</head>
<body> 
    <header class="navBar" style="width: 100%">
        <div class="navControls">
            <button class="navBtn" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">
                Home
            </button>
        </div>
        <!--The base template for this was taken from https://www.w3schools.com/css/css_dropdowns.asp we will contune to modify it from here, but take the core elements as a launch pad for our design-->
        <div class="dropdown" id="Account ">
            <button class="dropdown-btn">Account</button>
            <div class="dropdown-item"> 
				@if (loggedIn)
				{
					<a asp-controller="Account" asp-action="Login">Login</a>
				}
				else
				{
					<a asp-controller="Account" asp-action="Login">Logout</a>
				}
				<a asp-controller="Account" asp-action="Register">Register</a>
                <a asp-controller="Account" asp-action="AccountView"> Account Page</a>
            </div>
        </div>
        <button class="navBtn" onclick="@("window.location.href='" + @Url.Action("Cart", "Cart") + "'");">
            Cart
        </button>
        <button class="navBtn" onclick="@("window.location.href='" + @Url.Action("AdminAccountsView", "Admin") + "'");">
            Admin
        </button>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<div style="width: 100%">
		<footer class="border-top footer text-muted" style="width:100%; float:left; margin-top: 10px;">
			<div class="container">
				&copy; 1984 - RandomWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div>
		</footer>
	</div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        /*navbar settings*/
        .navBar{
            width: 100%;
            height: auto;
            background-color: black;
            box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
        }
       /* just general button styling*/
       .navControls{
           float: left;
       }
       .navBtn{
            background-color: #000000;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
       }
       .navBtn:hover{
           background-color: #ee90fc;
        }
        .navBtn a{
            width: 100%;
            height: 100%;
            color: white;
            text-decoration: none;
        }
       /* all the dropdown styling.*/        
        .dropdown{
            position: relative;
            display: inline-block;
        }
        .dropdown-btn{
            background-color: #000000;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
        .dropdown-item{
            display: none;
            position: absolute;
            background: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }
        .dropdown-item a{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-item a:hover{
            background-color: #ee90fc;
        }
        .dropdown:hover .dropdown-item{
            display: block;
        }
        .dropdown:hover .dropdown-btn{
            background-color: #ee90fc;
        }
        
        </style>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>