@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_Layout";
}
@model IReturnNodePointerProject.Controllers.prodAmalgam;
<!DOCTYPE HTML>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
	$('#CartAdd').click(function () {
		$.ajax({
			url: "/Product/AddToCart",
			datatype: "text",
			type: "POST",
			success: function (data) {
				$alert(data);
			},
			error: function () {
				$alert("You Failed");
			}
		});
	});
</script>
<html>
	<style>
		.prodPhoto{
			width: 48%;
			height: 100px;
			float: Left;
			border: solid black;
			padding-right: 2%;
			padding-top: 42%;
			margin-top: 30px;
			position: relative;
		}
		.prodPhoto #plaecholder {
			top: 50%;
			position: absolute;
			margin-top: -10px;
			left: 44%;
			margin-left: -10px;
		}
		.Details{
			padding-top:30px;
			width:50%;
			float: right;
		}
		.Details #Description{
			float: left;
		}
		.Details #Title-Genre{
			font-size: 23px;
		}
		.PriceBlock{
			width: 100%;
			display: inline-block;
		}
		.PriceBlock #Price{
			font-size: 23px;
			float: left;
		}
		.PriceBlock #Stock{
			float: right;
			font-size: 5;
		}
		.Details #btnHolder{
			width: 100%;
			float: right;
		}
		.Details #CardAdd{
			width: 64%;
			background: #f50000;
			color: white;
			border-radius: 10px;
			padding: 10px 0 10px 0;
			margin-bottom: 10px;
		}
	</style>
	<body>
		<div class="prodPhoto">
			<p id="plaecholder">{NO IMAGE}</p>
		</div>
		<div class="Details">
			<p id="Title-Genre"><b>@Model.Name | @Model.Genre</b></p>
			<p id="Author">@Model.Author</p>
			<div class="PriceBlock">
				<p id="Price"><b>$@Model.price</b></p>
				<p id="Stock">@Model.Stock</p>
			</div>
			<span id="btnHolder">
			<button id="CardAdd">ADD TO CART</button>
			</span>
			<p id="Description">@Model.Description</p>
		</div>
	</body>
</html>