@model AdminListViewModel
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "AdminAccountsView";
}
<style>
	table, th,tr,td{
		border-spacing: 50px;
		border:1px solid;
	}
</style>
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>
					Accounts 
				</th>
			</tr>
		</thead>
		<thead>
			<th>
				Patrons
			</th>
			<th>
				Username/Email
			</th>
			<th>
				Name
			</th>
		<th>
			@if (ViewBag.View == "UnResolved")
			{
				<a href="@Url.Action("AdminAccountsView", "Admin", new {userType = "Patron" , item = 0})">Add Patron</a>
			}
		</th>
		</thead>
		<tbody>	
			@foreach (var item in Model.Users)
			{
				<tr>
					<td>
						@item.UserID
					</td>
					<td>
						@item.Email
					</td>
					<td>
						@item.Name
					</td>
					<td/>
					<td>
						@Html.ActionLink("Delete", "Admin", new{userType = "Patron" , ID = item.UserID})
					</td>
					<td>
						@Html.ActionLink("Edit","AdminAccountsView" ,"Admin", new{userType = "Patron" , item = item.UserID })
					</td>
				</tr>
			}		
			<tr></tr>
		</tbody>
		<thead>
		<th>
			Employees
		</th>
		<th>
			Username
		</th>
		<th>
			Email
		</th>
		<th>
			Name
		</th>

		<th>
			@if (ViewBag.View == "UnResolved")
			{
				<a href="@Url.Action("AdminAccountsView", "Admin", new {userType = "Employee" , item = 0})">Add Employee</a>
			}
		</th>
		</thead>
		<tbody>
			@foreach (var item in Model.Employees)
			{
				<tr>
					<td>
							@item.UserID
					</td>
					<td>
						@item.UserName
					</td>
					<td>
						@item.email
					</td>
					<td>
							@item.Name
					</td>
					<td>

						@Html.ActionLink("Delete","Delete", "Admin", new{ userType = "Employee", ID = item.UserID})
					</td>
					<td>
						@Html.ActionLink("Edit","AdminAccountsView" ,"Admin", new{ Type = "Employee" ,item = item.UserID})
					</td>
				</tr>
			}
			<tr></tr>
		</tbody>
		<thead>
		<th>
			Admins
		</th>
		<th>
			Username
		</th>
		<th>
			Email
		</th>
		<th>
			Name
		</th>
		<th>
			@if (ViewBag.View == "UnResolved")
			{
				<a href="@Url.Action("AdminAccountsView", "Admin", new {userType = "Admin" , item = 0})">Add Admin</a>
			}
		</th>
		</thead>
		<tbody>
			@foreach (var item in Model.Admins)
			{
				<tr>
					<td>
						@item.UserID
					</td>
					<td>
						@item.UserName
					</td>
					<td>
						@item.email
					</td>
					<td>
						@item.Name
					</td>
					<td>
						@Html.ActionLink("Delete","Delete", "Admin", new{ userType = "Admin", ID = item.UserID})
					</td>
					<td>
						@Html.ActionLink("Edit","AdminAccountsView" ,"Admin", new{Type = "Admin" ,item = item.UserID})
					</td>
				</tr>
			}
		</tbody>
	</table>
	@{

		if (ViewBag.View == "Add")
		{
			await Html.RenderPartialAsync("AddAccount",new IReturnNodePointerProject.Models.User());
		}
		if(ViewBag.View == "Edit")
		{
			await Html.RenderPartialAsync("EditAccount", new IReturnNodePointerProject.Models.User());
		}
	}
</body>
</html>
