@model AdminListViewModel
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "AdminAccountsView";
}
<style>
	table, th,tr,td{
		border-spacing: 50px;
		border:1px solid;
	}
</style>
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>
					Accounts 
				</th>
			</tr>
		</thead>
		<thead>
			<th>
				Patrons
			</th>
			<th>
				Username/Email
			</th>
			<th>
				Name
			</th>
		<th>
			<button style="background-color:green" onclick="@("window.location.href='" + @Url.Action("Cart", "Cart", new{ parameter1 = "Patron"}) + "'")" >
				New Patron
			</button>
		</th>
		</thead>
		<tbody>	
			@foreach (var item in Model.Users)
			{
				<tr>
					<td>
						@item.UserID
					</td>
					<td>
						@item.Email
					</td>
					<td>
						@item.Name
					</td>
					<td>
						<button style="background-color:red" onclick="@("window.location.href='" + @Url.Action("Cart", "Cart", new{ parameter1 = "User", parameter2 = item.UserID}) + "'")">
							Delete
						</button>
					</td>
					<td>
						<button style="background-color:yellow" onclick="@("window.location.href='" + @Url.Action("Cart", "Cart", new{ parameter1 = "User", parameter2 = item.UserID}) + "'")">
							Edit
						</button>
					</td>
				</tr>
			}		
			<tr></tr>
		</tbody>
		<thead>
		<th>
			Employees
		</th>
		<th>
			Username/Email
		</th>
		<th>
			Name
		</th>
		<th>
			<button style="background-color:green" onclick="@("window.location.href='" + @Url.Action("Cart", "Cart", new{ parameter1 = "User"}) + "'")">
				New Employee
			</button>
		</th>
		</thead>
		<tbody>
			@foreach (var item in Model.Employees)
			{
				<tr>
					<td>
							@item.UserID
					</td>
					<td>
						@item.email
					</td>
					<td>
							@item.Name
					</td>
					<td>
						<button style="background-color:red" onclick="@("window.location.href='" + @Url.Action("Cart", "Cart", new{ parameter1 = "User", parameter2 = item.UserID}) + "'")">
							Delete
						</button>
					</td>
					<td>
						<button style="background-color:yellow" onclick="@("window.location.href='" + @Url.Action("Cart", "Cart", new{ parameter1 = "User", parameter2 = item.UserID}) + "'")">
							Edit
						</button>
					</td>
				</tr>
			}
			<tr></tr>
		</tbody>
		<thead>
		<th>
			Admins
		</th>
		<th>
			Username/Email
		</th>
		<th>
			Name
		</th>
		<th>
			<button style="background-color:green" onclick="@("window.location.href='" + @Url.Action("Cart", "Cart", new{ parameter1 = "Patron"}) + "'")">
				New Admin
			</button>
		</th>
		</thead>
		<tbody>
			@foreach (var item in Model.Admins)
			{
				<tr>
					<td>
						@item.UserID
					</td>
					<td>
						@item.email
					</td>
					<td>
						@item.Name
					</td>
					<td>
						<button style="background-color:red" onclick="@("window.location.href='" + @Url.Action("Cart", "Account", new{ parameter1 = "User", parameter2 = item.UserID}) + "'")">
							Delete
						</button>
					</td>
					<td>
						<button style="background-color:yellow" onclick="@("window.location.href='" + @Url.Action("Cart", "Account", new{ parameter1 = "User", parameter2 = item.UserID}) + "'")">
							Edit
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
	@{
		await Html.RenderPartialAsync("AddAccount");
		await Html.RenderPartialAsync("EditAccount");
	}
</body>
</html>
