@model IReturnNodePointerProject.Models.LoginViewModel;
@{
    ViewData["Title"] = "AccountView";
}
@{
    Layout = "_Layout";
}
<html>
<head>
	<style type="text/css">
		{Text-align: center;}
	</style>

	<meta name="viewport" content="width=device-width" />
	<title>Account Page</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="AccountView">
                <h1>UpdateAccountInformation:</h1>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">Email:</label>
                    <div class="col-md-10">
                        <input asp-for="Username" class="form-control" id="Username" name="Username" type="text" value=@ViewBag.Patrons.Email size="8" />
                        <span class="field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">DisplayName:</label>
                    <div class="col-md-10">
                        <input asp-for="PreferedName" class="form-control" id="PreferedName" name="PreferedName" type="text" value=@ViewBag.Patrons.Name size="5" />
                        <span class="field-validation-valid" </span>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">PhoneNumber:</label>
                    <div class="col-md-10">
                        <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber" name="Phonenumber" type="text" value=@ViewBag.TO.PhoneNumber />
                        <span class="field-validation-valid" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span>
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!-- Maybe have it as not required to enter just yet -->
                <h2>Postal Information:</h2>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">Street Address:</label>
                    <div class="col-md-10">
                        <input type="text" asp-for="StreetAddress" class="form-control" id="StreetAddress" name="StreetAddress" value="@ViewBag.TO.StreetAddress" />
                        <span class="field-validation-valid" data-valmsg-for="StreetAddress" data-valmsg-replace="true"></span>
                        @Html.ValidationMessageFor(m => m.StreetAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">PostCode:</label>
                    <div class="col-md-10">
                        <pre><input type="number" asp-for="PostCode" class="form-control" id="PostCode" name="PostCode" value=@ViewBag.TO.PostCode /></pre>
                        <span class="field-validation-valid" data-valmsg-for="PostCode" data-valmsg-replace="true"></span>
                        @Html.ValidationMessageFor(m => m.PostCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">Suburb:</label>
                    <div class="col-md-10">
                        <input type="text" asp-for="Suburb" class="form-control" id="Suburb" name="Suburb" value=@ViewBag.TO.Suburb />
                        <span class="field-validation-valid" data-valmsg-for="Suburb" data-valmsg-replace="true"></span>
                        @Html.ValidationMessageFor(m => m.Suburb, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">State:</label>
                    <div class="col-md-10">
                        <input type="text" asp-for="State" class="form-control" id="State" name="State" value=@ViewBag.TO.State />
                        <span class="field-validation-valid" data-valmsg-for="State" data-valmsg-replace="true"></span>
                        @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                    </div>
                </div>
                <h2>Credit Card Information:</h2>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">CardNumbers:</label>
                    <div class="col-md-10">
                        <input type="text" asp-for="CardNumber" class="form-control" id="CardNumber" name="CardNumber" value=@ViewBag.TO.CardNumber />
                        <span class="field-validation-valid" data-valmsg-for="CardNumber" data-valmsg-replace="true"></span>
                        @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">CardOwner:</label>
                    <div class="col-md-10">
                        <input type="text" asp-for="CardOwner" class="form-control" id="CardOwner" name="CardOwner" value=@ViewBag.TO.CardOwner />
                        <span class="field-validation-valid" data-valmsg-for="CardOwner" data-valmsg-replace="true"></span>
                        @Html.ValidationMessageFor(m => m.CardOwner, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">Expiry:</label>
                    <div class="col-md-10">
                        <input type="text" asp-for="Expiry" class="form-control" id="Expiry" name="Expiry" value=@ViewBag.TO.Expiry />
                        <span class="field-validation-valid" data-valmsg-for="Expiry" data-valmsg-replace="true"></span>
                        @Html.ValidationMessageFor(m => m.Expiry, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">CVV:</label>
                    <div class="col-md-10">
                        <input type="number" asp-for="CVV" class="form-control" id="CVV" name="CVV" value=@ViewBag.TO.CVV />
                        <span class="field-validation-valid" data-valmsg-for="CVV" data-valmsg-replace="true"></span>
                        @Html.ValidationMessageFor(m => m.CVV, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-md-2">
                        <button type="submit" class="btn btn-primary" value="LoginViewModel">UpdateDetails</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
